@font-face {
  font-family: 'icomoon';
  src:  url('https://i.icomoon.io/public/temp/50ce8b9bc2/UntitledProject/icomoon.eot?wyvqqj');
  src:  url('https://i.icomoon.io/public/temp/50ce8b9bc2/UntitledProject/icomoon.eot?wyvqqj#iefix') format('embedded-opentype'),
    url('https://i.icomoon.io/public/temp/50ce8b9bc2/UntitledProject/icomoon.ttf?wyvqqj') format('truetype'),
    url('https://i.icomoon.io/public/temp/50ce8b9bc2/UntitledProject/icomoon.woff?wyvqqj') format('woff'),
    url('https://i.icomoon.io/public/temp/50ce8b9bc2/UntitledProject/icomoon.svg?wyvqqj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-square .path1:before {
  content: "\e900";
  color: rgb(84, 84, 84);
}
.icon-square .path2:before {
  content: "\e901";
  margin-left: -0.70703125em;
  color: rgb(84, 84, 84);
}
.icon-square .path3:before {
  content: "\e902";
  margin-left: -0.70703125em;
  color: rgb(84, 84, 84);
}
.icon-square .path4:before {
  content: "\e903";
  margin-left: -0.70703125em;
  color: rgb(84, 84, 84);
}
